In [1]:
import pandas as pd

In [2]:
data_pokemon = pd.read_csv("Pokemon.csv")
data_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# 1. Membaca Data

Baca dataset Pokemon dan tampilkan 5 baris pertama dari DataFrame.

In [3]:
# karna head() defaultnya adalah 5, jadi ini adalah 5 baris pertama dari df.
data_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## 2. Informasi Dataset

Tampilkan informasi tentang dataset seperti jumlah baris, jumlah kolom, dan tipe data untuk setiap kolom.

In [4]:
# untuk mencari info dataset, bisa gunakan .info()
data_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

## 3. Menghitung Statistik Deskriptif

Hitung statistik deskriptif untuk kolom numerik dalam dataset. Tampilkan mean, median, dan standar deviasi untuk kolom HP, Attack, dan Defense.

In [5]:
df_mean = data_pokemon[["HP", "Attack", "Defense"]].mean()
df_mean

HP         69.25875
Attack     79.00125
Defense    73.84250
dtype: float64

In [6]:
df_median = data_pokemon[["HP", "Attack", "Defense"]].median()
df_median

HP         65.0
Attack     75.0
Defense    70.0
dtype: float64

In [7]:
df_std = data_pokemon[["HP", "Attack", "Defense"]].std()
df_std

HP         25.534669
Attack     32.457366
Defense    31.183501
dtype: float64

## 4. Memilih Kolom Tertentu

Buat DataFrame baru yang hanya berisi kolom Name, Type 1, Type 2, HP, Attack, dan Defense.

In [8]:
df1 = data_pokemon[['Name', 'Type 1', "Type 2", "HP", "Attack", "Defense"]]
df1

                      Name   Type 1  Type 2  HP  Attack  Defense
0                Bulbasaur    Grass  Poison  45      49       49
1                  Ivysaur    Grass  Poison  60      62       63
2                 Venusaur    Grass  Poison  80      82       83
3    VenusaurMega Venusaur    Grass  Poison  80     100      123
4               Charmander     Fire     NaN  39      52       43
..                     ...      ...     ...  ..     ...      ...
795                Diancie     Rock   Fairy  50     100      150
796    DiancieMega Diancie     Rock   Fairy  50     160      110
797    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799              Volcanion     Fire   Water  80     110      120

[800 rows x 6 columns]

## 5. Memfilter Data

Pilih semua Pokemon yang memiliki Type 1 sebagai "Fire" dan tampilkan 10 baris pertama dari hasil filter tersebut.

In [9]:
# ini sedikit salah, karna tidak konsisten. Harusnya..
## data_pokemon[df1["Type 1"] == "Fire"].head(10)

# Harusnya seperti ini:
data_pokemon[data_pokemon["Type 1"] == "Fire"].head(10)

# or 

## df1[df["Type 1"] == "Fire"].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False

## 6. Mengurutkan Data

Urutkan dataset berdasarkan kolom Speed secara menurun dan tampilkan 5 baris pertama dari hasil pengurutan.

In [10]:
test = data_pokemon.sort_values('Speed', ascending=False).head(5)
test

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False

## 7. Menambah Kolom Baru

Tambahkan kolom baru bernama Total yang merupakan jumlah dari HP, Attack, Defense, Sp. Atk, Sp. Def, dan Speed. Tampilkan 5 baris pertama dari DataFrame yang sudah ditambahkan kolom ini.

In [11]:
# Masih salah(error)
data_pokemon["Total"] = data_pokemon[['HP', 'Attack', "Defense", "Sp. Atk", "Sp. Def", "Speed"]].sum(axis=1)
data_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## 8. Kelompokkan dan Hitung Rata-rata

Kelompokkan dataset berdasarkan kolom Type 1 dan hitung rata-rata HP untuk setiap kelompok. Tampilkan hasilnya.

In [12]:
data_pokemon.groupby(['Type 1'])['HP'].mean()

Type 1
Bug         56.884058
Dark        66.806452
Dragon      83.312500
Electric    59.795455
Fairy       74.117647
Fighting    69.851852
Fire        69.903846
Flying      70.750000
Ghost       64.437500
Grass       67.271429
Ground      73.781250
Ice         72.000000
Normal      77.275510
Poison      67.250000
Psychic     70.631579
Rock        65.363636
Steel       65.222222
Water       72.062500
Name: HP, dtype: float64

## 9. Mencari Pokemon dengan Nilai Tertentu

Temukan Pokemon yang memiliki Attack tertinggi dan tampilkan semua informasi tentang Pokemon tersebut.

In [13]:
data_pokemon.loc[data_pokemon['Attack'].idxmax()]

#                             150
Name          MewtwoMega Mewtwo X
Type 1                    Psychic
Type 2                   Fighting
Total                         780
HP                            106
Attack                        190
Defense                       100
Sp. Atk                       154
Sp. Def                       100
Speed                         130
Generation                      1
Legendary                    True
Name: 163, dtype: object

## 10. Menghitung Jumlah Pokemon per Tipe

Hitung berapa banyak Pokemon untuk setiap nilai Type 1 dan tampilkan hasilnya.

In [14]:
# Ternyata pke func jancok(sebelumnya stuck set jam)
type_count = df1["Type 1"].value_counts()
type_count

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [15]:
data_pokemon["Type 1"]

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [16]:
data_pokemon["Type 2"]

0      Poison
1      Poison
2      Poison
3      Poison
4         NaN
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type 2, Length: 800, dtype: object

## 11. Filter PokÃ©mon dengan Tipe Ganda
Temukan semua PokÃ©mon yang memiliki dua tipe (Type 1 dan Type 2). Tampilkan 10 baris pertama dari hasil filter ini.

In [17]:

double_type_pokemon = data_pokemon.dropna(subset=['Type 2'])
double_type_pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False

## 12. Menghitung Jumlah PokÃ©mon Berdasarkan Generasi
Hitung jumlah PokÃ©mon untuk setiap generasi (Generation).

In [18]:
data_pokemon["Generation"].sum()

2659

In [19]:
data_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## Soal 13: Menambahkan Kolom Rasio Serangan
Tambahkan kolom baru yang bernama Attack Ratio yang merupakan hasil pembagian antara kolom Attack dengan kolom Total. Tampilkan 5 baris pertama dari DataFrame yang telah dimodifikasi.

In [20]:
data_pokemon["Attack Ratio"] = data_pokemon["Attack"] / data_pokemon['Total']
data_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0.154088
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.153086
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.156190
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.160000
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0.168285

## Soal 14: Mencari PokÃ©mon dengan HP di Atas Rata-Rata
Cari semua PokÃ©mon yang memiliki HP di atas nilai rata-rata HP dari seluruh dataset. Tampilkan 10 baris pertama dari hasil filter ini.

In [21]:
mean_hp = data_pokemon['HP'].mean()
high_hp_pokemon = data_pokemon[data_pokemon['HP'] > mean_hp]
high_hp_pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack Ratio
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.156190
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.160000
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,0.157303
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,0.205047
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,0.164038
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.156604
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,0.163492
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False,0.167015
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,0.138169
33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False,0.222222

In [22]:
df5 = data_pokemon.groupby("Generation")["Speed"].agg(["mean", "median", "std"])
df5

                 mean  median        std
Generation
1           72.584337    70.0  29.675857
2           61.811321    60.5  27.263132
3           66.925000    65.0  31.331972
4           71.338843    77.0  28.475005
5           68.078788    65.0  28.726632
6           66.439024    60.0  25.691954

In [31]:
data_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0.154088
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.153086
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.156190
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.160000
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0.168285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.166667
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,0.228571
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,0.183333
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,0.235294
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.183333

In [36]:
df.head()

       aa
0     aah
1   aahed
2  aahing
3    aahs
4     aal

# Activities

### How many elements does this dataframe have?

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172822 entries, 0 to 172821
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   aa      172820 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

## What is the value of the word microspectrophotometries?

In [ ]:
df.loc[["microspectrophotometries"], "Value"]

## What is the highest possible value of a word?

In [ ]:
df["Value"].max()

## Which of the following words have a Char Count of 7 and a Value of 87?

In [ ]:
df.loc[["glowing", "superheterodyne", "microbrew", "pinfish", "enfold"]]

## What is the highest possible length of a word?

In [ ]:
df[["Char Count"]].max()

## What is the word with the value of 319?

In [ ]:
df.loc[df["Value"] == 319]

## What is the most common value?

In [ ]:
df["Value"].mode()

## What is the shortest word with value 274?

In [ ]:
df.loc[df["Value"] == 274]

## Create a column Ratio which represents the 'Value Ratio' of a word

In [ ]:
df["Ratio"] = df["Value"] / df["Char Count"]
df

## What is the maximum value of Ratio?

In [ ]:
df.loc[df["Ratio"] == 22.5]

## How many words have a Ratio of 10?

In [ ]:
df.loc[df["Ratio"] == 10].shape

## What is the maximum Value of all the words with a Ratio of 10?

In [ ]:
df.loc[df["Ratio"] == 10].max()

## Of those words with a Value of 260, what is the lowest Char Count found?

In [ ]:
df.loc[df["Value"] == 260]

## Based on the previous task, what word is it?Â¶

In [ ]:
df.loc[df["Value"] == 260]